* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 137vh;
    background: linear-gradient(rgb(228, 3, 228), rgb(37, 1, 37));
    padding: 3px;
    padding-left: 550px;
    padding-right: 550px;
    form {
        height: 90%;
        width: 420px;
        margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    border: none;
    backdrop-filter: 8;
    cursor: pointer;
    background-color: rgba(128, 114, 114, 0.3);
        
    }
}